{% extends 'base.html' %}
{% load static %}
{% block titulo %}Entrar{% endblock %}
{% block corpo %}
<main class="tela-marca">
  <div class="login">
    <div class="login__marca">
      <img src="{% static 'img/martinho-simbolo.svg' %}" alt="" width="88" height="88">
      <h1>Martinho</h1>
      <span class="fio"></span>
    </div>
    <form class="cartao formulario" method="post">
      {% csrf_token %}
      {% if form.non_field_errors %}
        <p class="erro-geral">Usuário ou senha incorretos. Confira e tente de novo.</p>
      {% endif %}
      <div class="campo">
        <label for="id_username">Usuário</label>
        <input id="id_username" name="username" autocomplete="username" autocapitalize="none" required autofocus value="{{ form.username.value|default:'' }}">
      </div>
      <div class="campo">
        <label for="id_password">Senha</label>
        <input id="id_password" name="password" type="password" autocomplete="current-password" required>
      </div>
      <input type="hidden" name="next" value="{{ next }}">
      <button class="btn btn--primario" type="submit">Entrar</button>
    </form>
  </div>
</main>
{% endblock %}
